## Read File

In [9]:
f = open('titanic/train.csv')
data = []
for line in f:
    data.append(line.strip().split(','))
f.close()

In [10]:
with open('titanic/train.csv') as f:
    content = f.readlines()
# you may also want to remove whitespace characters like `\n` at the end of each line
content = [x.strip() for x in content]

## Pandas

In [2]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

matplotlib.style.use('ggplot')
sns.set_style('white')
%matplotlib inline

In [3]:
train = pd.read_csv('titanic/train.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
print train.columns
print train.shape
train.dtypes

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age',
       u'SibSp', u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')
(891, 12)

PassengerId       int64
Survived       category
Pclass         category
Name             object
Sex            category
Age             float64
SibSp             int64
Parch             int64
Ticket           object
Fare            float64
Cabin            object
Embarked       category
dtype: object

In [16]:
train['Pclass'] = train['Pclass'].astype('category')
train['Survived'] = train['Survived'].astype('category')
train['Sex'] = train['Sex'].astype('category')
train['Embarked'] = train['Embarked'].astype('category')

In [17]:
train.dtypes

PassengerId       int64
Survived       category
Pclass         category
Name             object
Sex            category
Age             float64
SibSp             int64
Parch             int64
Ticket           object
Fare            float64
Cabin            object
Embarked       category
dtype: object

In [18]:
train.describe()

       PassengerId         Age       SibSp       Parch        Fare
count   891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000   29.699118    0.523008    0.381594   32.204208
std     257.353842   14.526497    1.102743    0.806057   49.693429
min       1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000   20.125000    0.000000    0.000000    7.910400
50%     446.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000   38.000000    1.000000    0.000000   31.000000
max     891.000000   80.000000    8.000000    6.000000  512.329200

In [21]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [22]:
train['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [31]:
train[['Embarked', 'Sex', 'Survived']].groupby(by = ['Embarked', 'Sex']).agg(['sum', 'count'])

ValueError: no results

In [36]:
df = pd.DataFrame({"app":["iphone", "iphone", "iphone", "iphone", "web", "web", "web", "web"],
                   "date":['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04', '2013-01-02', '2013-01-03', '2013-01-04', '2013-01-05'],
                   "num_users":[1000, 1010, 1020, 1050, 100, 105, 110, 120]})

In [37]:
df

      app        date  num_users
0  iphone  2013-01-01       1000
1  iphone  2013-01-02       1010
2  iphone  2013-01-03       1020
3  iphone  2013-01-04       1050
4     web  2013-01-02        100
5     web  2013-01-03        105
6     web  2013-01-04        110
7     web  2013-01-05        120

In [108]:
def user_growth_by_app(df):
    min_users = df.loc[df.groupby('app').idxmin('date').num_users][['num_users', 'app']]
    df_final = df.merge(min_users, on = 'app', how = 'left')
    df_final['user_growth'] = df_final['num_users_x'] / df_final['num_users_y']
    return(df_final[['date', 'app', 'user_growth']])

user_growth_by_app(df)

         date     app  user_growth
0  2013-01-01  iphone         1.00
1  2013-01-02  iphone         1.01
2  2013-01-03  iphone         1.02
3  2013-01-04  iphone         1.05
4  2013-01-02     web         1.00
5  2013-01-03     web         1.05
6  2013-01-04     web         1.10
7  2013-01-05     web         1.20

## Sklearn

In [30]:
from sklearn.model_selection import train_test_split